body{
  background-color:black;
}
.nes{
  font-family:arial;
  font-size:70px;
  color:white;
  margin-bottom:30px; 
}
.first-container{
  display:flex;
  justify-content:center;
  align-items: center;
  width:1015px;
}
.tossing,.restarting{
  font-family:arial;
  font-size:15px;
  color:red;
}
.Reset{
  border:2px solid white;
 height:50px;
  background-color:transparent;
  border-radius:50%;
}
.head-container{
  display:flex;
}
.main-2{
  display:flex;
}
/* score details */

 .main-container{
  display:flex;
  position:relative;
  bottom:25px;


 }
.container-1{
display:inline-block;
margin-left:2px;
border:3px solid blue;
padding-left:15px;
width:490px;
}
.container-2{
  display:inline-block;
  border:3px solid green;
  margin-left:0;
  padding-left:15px;
  width:480px;
}

.sub-head{
  display:grid;
  grid-template-columns:540px 600px;
  column-gap: 8px;
  
}

/* Batting & Ball Css Lines*/


.batting-1,.bowling-1{
  border:5px solid blue;
  height:127px;
  width:483px;
  padding:0;
  padding-left:10px;
  margin-right:10px;
}
.batting,.bowling{
margin-top:10px;
margin-bottom:10px;
display:flex;
}
.dot{
  height:53px;
  width:50px;
  border-radius:50%;
}
.cbat{
  border-radius:50%;
  border:3px solid red;
  background-color:transparent;
  height:60px;
  width:60px;
  cursor:pointer;
  padding-left:0;
  padding-right:0;
  margin-right :8px;
}
.description_bat,.description_ball{
  font-family:arial;
  font-size:13px;
  color:red;
}


/* End Of Batting and Ball Css*/

.c-11{
  font-family:arial;
  color:rgb(224, 27, 175);
  font-size:30px;
  margin:0;
  margin-top:10px; 
}
.c-100{
  font-family:arial;
  color:rgb(24, 210, 216);
  font-size:30px;
  margin:0;
  margin-top:10px;
}
/*Score Card Css*/
.c-1,.c-6{
  font-family:Helvetica;
  font-size:30px;
  color:white;
  margin:0;
  margin-top:15px;
}
/* End Of score Card Css*/


/* Start Out Result */
.c-4,.c-9{
  font-family:Helvetica;
  font-size:28px;
  color:red;
  font-weight:bold;
  margin:0;
  margin-bottom:30px;
}
.c-9{
  color:rgb(0, 255, 21);
}
/* End Out Result */

.c-2,.c-3{
  font-family:Helvetica;
  font-size:18.7px;
  color:white;
}
.c-5,.c-10{
  font-family:Helvetica;
  font-size:20px;
  color:white;
  margin-bottom:8px;
}

.c-7,.c-8{
  font-family:Helvetica;
  font-size:18.7px;
  color:white;
}



.toss{
  position: relative;
  left:300px;
}

.chead1{
  
  border-radius:50%;
  border:5px solid rgb(7, 209, 165);
  background-color:white;
  height:70px;
  width:70px;
  margin-right:20px;
  margin-bottom:0px;  
  cursor:pointer;
  padding:0;
}

.restart{
  border-radius :50%;
  border:none;
  height:60px;
  width:60px; 
}

.b-1{
  border:5px solid greenyellow;
}

.batsword,.bowlingword{
font-family:arial;
font-size:30px;
color:greenyellow;
margin-top:10px;
margin:0px;
}
.bow-1{
  color:yellow;
}



